@import url('https://fonts.googleapis.com/css?family=Boogaloo|Carter+One|Rock+Salt');

*{
  box-sizing: border-box;
}

.parent-portfolio{
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  align-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  align-content: space-around
}

.site-header {
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: column;
  align-items: center
}

.site-header h1 {
  font-family: 'Boogaloo';
  color: chocolate;
  font-size: 120px;
}

.profile-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color:red;
  font-size: 50px;
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  padding:15px;
  font-family: 'Carter+one'
}

.social-media ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.site-container {
  display: flex;
  width: 100%;
  float: none;
  
}
